Repository MissouriMRR/SUAS-2022, pull requests merged in 2022-04, with the labels that each got.

#49 Add Requirements, Installation, Running/Testing Code, Contributing Code, and License sections
  README.md
Labels: enhancement, repo

#45 ODLC Text Color Parsing
  .mypy.ini
  .pre-commit-config.yaml
  .pylintrc
  vision/Object Detection/standard_obj_text.py
  vision/common/bounding_box.py
Labels: vision, feature, ODLC, text

#52 Feature/off axis odlc closest point
  flight/ODLC/main.py
  flight/ODLC/plotter.py
  flight/ODLC/point_finder.py
  poetry.lock
  pyproject.toml
Labels: flight, ODLC

#48 Feature/update pylint
  .pylintrc
Labels: repo

#57 Hotfix/black error update
  vision/Object Detection/standard_obj_text.py
  vision/common/bounding_box.py
Labels: repo

#61 Emergent object description
  vision/Object Detection/emergent_characteristics.py
  vision/Object Detection/emergent_in_frame.py
Labels: vision, feature

#59 Added Stitching Algorithm and Folder
  vision/Mapping/image_stitcher.py
Labels: vision

#69 Feature/new folder names
  flight/avoidance/main.py
  flight/avoidance/math_functions.py
  flight/avoidance/obstacle_avoidance.py
  flight/avoidance/plotter.py
  flight/avoidance/sample_data.json
  flight/odlc/main.py
  flight/odlc/plotter.py
  flight/odlc/point_finder.py
  vision/mapping/image_stitcher.py
  vision/odlc/emergent_characteristics.py
  vision/odlc/object_bounding_box.py
  vision/odlc/object_location.py
  vision/odlc/standard_characteristics.py
  vision/odlc/standard_in_frame.py
  vision/odlc/standard_match.py
  vision/odlc/standard_obj_text.py
Labels: flight, vision, Infrastructure, repo

#63 Add table of contents and codebase structure
  README.md
Labels: repo

#72 Fix mypy not recognizing numpy and update pylint
  .pre-commit-config.yaml
Labels: repo

#73 Fix issue with pylint sometimes contradicting with black
  .pylintrc
Labels: repo

#79 Emergent Object Detection
  vision/odlc/emergent_detection.py
Labels: vision, feature

#67 Feature/{go to}
  flight/goto.py
  flight/waypoint_move_test.py
Labels: flight, feature, Autonomous Flight
